$dimension-0: 0px;
$dimension-0-5: 2px;
$dimension-1: 4px;
$dimension-1-5: 6px;
$dimension-2: 8px;
$dimension-2-5: 10px;
$dimension-3: 12px;
$dimension-3-5: 14px;
$dimension-4: 16px;
$dimension-4-5: 18px;
$dimension-5: 20px;
$dimension-5-5: 22px;
$dimension-6: 24px;
$dimension-7: 28px;
$dimension-8: 32px;
$dimension-9: 36px;
$dimension-10: 40px;
$dimension-11: 44px;
$dimension-12: 48px;
$dimension-13: 52px;
$dimension-14: 56px;
$dimension-15: 60px;
$dimension-16: 64px;
$dimension-18: 72px;
$dimension-20: 80px;
$dimension-22: 88px;
$dimension-24: 96px;
$dimension-80: 320px;
$dimension-120: 480px;
$dimension-135: 540px;
$dimension-144: 576px;
$dimension-160: 640px;
$dimension-180: 720px;
$dimension-192: 768px;
$dimension-240: 960px;
$dimension-248: 992px;
$dimension-285: 1140px;
$dimension-300: 1200px;
$dimension-330: 1320px;
$dimension-350: 1400px;
$dimension-999: 999px;
