// =============================================================================
// table.page.scss
// =============================================================================

@use './_doc-page-shared' as *;

.preview {
  display: block;
  width: 100%;
  padding: var(--space-2xl);
}
